<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Analyzer</title>

    <style>
        /* this is for the CSS files and codes */
        .navbar{
            display: inline-table;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- This is for the body of the webpage -->
    <div>
    <h1>Home</h1>
    </div>

    <div>
        This is the Punctuation Remover
        <form action="/analyze" method="get">
            <!-- This is for the text area -->
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter the text here"></textarea>
            <input type="checkbox" name="analyze">Remove Punctuation<br>
            <button type="submit">Analyze Text</button>
        </form>
    </div>
</body>
</html>